.tweet {
  padding: 8rem 0 4rem 0;

  &__container {
    @include container();
  }

  &__title {
      text-transform: none;

      &__time {
          font-weight: 300;
          color: $grey-100;
      }
  }

  &__dots {
    display: flex;
    justify-content: space-between;
    width: 60px;
    margin: 0 auto;

    &__item {
      display: block;
      width: 12px;
      height: 12px;
      background-color: #fff;
      border: 1px solid #a9afb3;
      border-radius: 50%;
      cursor: pointer;
      margin-top: 3rem;

      &--active, &:hover {
        background-color: #a9afb3;
      }
    }
  }
}
